sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t michaelyeo/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true michaelyeo/react-test npm test -- --coverage

after_success:
  - docker build -t michaelyeo/multi-client ./client 
  - docker build -t michaelyeo/multi-nginx ./nginx
  - docker build -t michaelyeo/multi-server ./server
  - docker build -t michaelyeo/multi-worker ./worker
  # Log in to docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push michaelyeo/multi-client
  - docker push michaelyeo/multi-nginx
  - docker push michaelyeo/multi-server
  - docker push michaelyeo/multi-worker